/* reset */

*, *::before, *::after {
    box-sizing: border-box;
    }
    
* {
    margin: 0;
    }
    
html, body {
    height: 100%;
    }
    
body {
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    }
    
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    }
    
input, button, textarea, select {
    font: inherit;
    }
    
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    }
    
h1, h2, h3 {
    line-height: 1;
    }
    
    /* Page Styling */


:root {
  --ff-sans: "IBM Plex Sans", sans-serif;
  --ff-serif: "IBM Plex Serif", serif;

  /* small screen font-sizes */
  --fs-200: 0.75rem;
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-900: 2.125rem;

  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;

  --clr-neutral-100: #fff;
  --clr-neutral-200: #eef1f6;
  --clr-neutral-300: #a9afbc;
  --clr-neutral-400: #737b8c;
  --clr-neutral-500: #434956;
  --clr-neutral-900: #020203;
  
  --clr-primary-300: #f3f7ff;
  --clr-primary-400: #8ea8da;

  --br: 1rem;
}

body {
  font-family: var(--ff-serif);
  padding: .5rem;
}

/* Typography */

.sans {
  font-family: var(--ff-sans);
  font-size: var(--fs-300);
  font-weight: 600;
}

label {
  font-size: var(--fs-200);
}

.date-time {
  font-size: var(--fs-200);
}

.about__text {
  font-weight: var(--fw-300);
}

.p400 {
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  font-weight: var(--fw-300);
}

.med-text {
  font-size: var(--fs-500);
}

h1 {
  font-size: var(--fs-900);
  font-weight: var(--fw-200);
}

h2, 
.map, 
.resourses {
  color: #737b8c;
}

h2, 
h3,
.lrg-text, 
.subtitle {
  font-size: var(--fs-600);
  font-weight: var(--fw-200);
}

.page-article .about__text {
  line-height: 1.5;
}

/* Padding & Margins */

.content {
  padding: 0 1rem;
  max-width: 50rem;
  margin: 0 auto;
}

h2 {
  padding-top: 1.5em;
}

.subtitle {
  padding-bottom: 5rem;
}

.subtitle2 {
  padding-bottom: 1.5rem;
}

h3,
.card p {
  padding-bottom: 1rem;
}

h1 {
  padding-bottom: 1em;
}

.about__text {
  padding-bottom: 2em;
}

.part2 {
  padding-top: 0;
}

.hero__content {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.page-article .hero__content {
  padding-top: 0;
  padding-bottom: 0;
}

.hero__text {
  margin-bottom: 2.5rem;
}

/* General Styling */

img {
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: var(--clr-neutral-900);
}

.header-main__nav a {
  color: var(--clr-neutral-200);
}

.main-footer__content a, 
.footer-nav a {
  color: var(--clr-neutral-900);
}

.btn-back {
  display: none;
}

.btn::after {
  content: "\203A";
  margin-left: 1em;
  font-weight: var(--fw-300);
}

.btn-back::before {
  content: "\003C";
  margin-right: 1em;
  font-weight: var(--fw-300);
}

.btn:hover, 
.btn:focus {
  color: var(--clr-primary-400);
}

.btn-back:hover, 
.btn-back:focus {
  color: var(--clr-neutral-400);
}

.header-main {
  background-color: var(--clr-primary-400);
  background-size: cover;
  border-radius: 10px;
  min-height: 19rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.page-home .header-main {
  background-image: url(./img/hero.jpg);
  background-position: center center;  
}

.page-blog .header-main {
  background-image: url(./img/blog.jpg);
  background-position: 40% 75%;
  min-height: 35rem;
}

.page-article .header-main {
  background-image: url(./img/article.jpg);
  min-height: 35rem;
  background-position: right;
}

.header-main__text {
  margin-top: auto;
  margin-bottom: auto;
}

.header-main__nav {
  background-color: var(--clr-neutral-900);
  border-radius: 10px;
  color: var(--clr-neutral-200);
  position: fixed;
  padding: .5em;
  bottom: .5em;
  right: .5em;
  left: .5em;
  display: flex;
  justify-content: space-around;
}

.home {
  font-weight: 900;
}

.blog-nav__content {
  display: none;
}

.recent-articles__container {
  background-color: var(--clr-primary-300);
  border-radius: 10px;
  padding-bottom: 1rem;
}

.page-blog .recent-articles__container,
.page-article .recent-articles__container {
  background-color: var(--clr-neutral-100);
}

.three-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 50rem;
}

.page-blog .three-col {
  justify-content: center;
}

.card {
  padding-bottom: 5rem;
}

.card:last-of-type {
  padding-bottom: 1rem;
}

.page-article .cards-two {
  padding: 0 1rem 2rem 1rem;
}

.card img {
  object-fit: cover;
  height: 12.5rem;
  width: 100%;
  margin-bottom: 1rem;
}

.img-tall {
  object-fit: cover;
  height: 17rem;
  width: 100%;
  margin-bottom: 1rem;
}

.card-tall {
  padding-bottom: 2.5rem;
}

.date-time {
  display: flex;
  gap: 1.5rem;
}

.stories {
  text-align: center;
}

.article-cards {
 padding: 0 15rem;
}

.cta__content {
  padding: 0 0 5rem 0;
}

.cta__img {
  object-fit: cover;
  height: 19rem;
  width: 100%;
}

.subscribe {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.subscribe div {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  flex: auto;
}

.subscribe input {
  font-size: var(--fs-400);
  color: var(--clr-neutral-300);
  font-weight: var(--fw-300);
  border: none;
  border-bottom: 1px solid var(--clr-neutral-300)
}

.subscribe input:focus {
  border: 2px solid var(--clr-primary-400);
}

.foot-line, .stories-line {
 height: 1px;
 background-color: white;
 border-color: white;
 max-width: 50rem;
 margin: 0 auto;
 margin-bottom: 3rem;
}

.stories-line.top {
  margin-bottom: 2rem;
}

.stories-line.bottom {
  margin-top: 2rem;
}

.main-footer__content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  /* padding-bottom: 5rem; */
}

.map, 
.resources {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 5rem;
}

.two-col {
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}
ul {
  padding: 0;
}

.footer-nav {
  max-width: 75%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2.5rem;
}

.footer-bottom {
  padding-bottom: 2.5rem;
}

@media (min-width: 40rem){ 
  /* typography */

  h3,
  .med-text {
    font-size: var(--fs-600);
  }
  
  h2, 
  .lrg-text, 
  .subtitle {
    font-size: var(--fs-900);
  }

  h1 {
    font-size: 4.25rem;
  }

/* general styling */
.header-main {
  width: 100%;
  min-height: 30rem;
}

.page-blog .header-main {
  background-position: center left;
}

.header-main__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-main__nav {
  position: static;
  background: transparent;
  gap: 2em;
}

.header-main__nav a {
  color: var(--clr-neutral-900);
}

.header-main__text {
  max-width: 50%;
  padding-left: 10em;
}

.img-tall {
  height: 40rem;
}

.btn-back {
  color: var(--clr-neutral-900);
  display: block;
}

.article-container {
  max-width: 40rem;
  margin: 0 auto;
}

.blog-nav__content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}

.blog-nav {
  width: 100%;
}

.blog-nav__list {
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  font-size: var(--fs-200);
  font-weight: var(--fw-400);
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 6em;
}

  h2 {
    padding-top: 2.5em;
  }

  .page-blog h2 {
    padding-top: 2rem;
  }

  .three-col {
    flex-direction: row;
    gap: 2.5rem;
  }

  .card {
    flex: 1;
    padding-bottom: 1rem;
  }

  .card-one {
  display: flex;
  gap: 2.5rem;
  }

  .card-one img {
    min-height: 18rem;
    width: 100%;
  }

  .flex-item {
    flex: auto;
  }

  .flex-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cards-two {
    display: flex;
    gap: 2.5rem;
  }

  .cards-three {
    display: flex;
    gap: 1.5rem;
  }

  .cta__img {
    height: 25rem;
  }

  .subscribe {
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
  }

  .main-footer__content {
    display: flex; 
    flex-direction: row;
  }

  .main-footer__content > * {
    width: 50%;
  }

  .two-col {
    flex-direction: row;
    gap: 5rem;
  }
}


 
